<!DOCTYPE html>
<html>
	<head>
		<title>JavaScript Playground</title>
	</head>
	<body>


		<div class="nav">	

 <ul>
		        <li><a class="default" href="index.html">Home</a></li>
				<li><a href="views/html-playground.html">HTML</a></li>
				<li><a href="views/css-playground.html">CSS</a></li>
				<li><a href="views/bootstrap-playground.html">Bootstrap</a></li>
				<li><a href="views/javascript-playground.html">JavaScript</a></li>
				<li><a href="views/jquery-playground.html">jquery</a></li>
				<li><a href="views/git-playground.html">Git</a></li>
				<li><a href="views/resources-playground.html">Resources</a></li>
</ul>
	</div>
		
		        
		<h1>JavaScript Items</h1>
	<h2>Age</h2>
	<p>I am<a id= "my-age" ></a></p>
	<p>I was born in<a id= "my-birthyear" ></a></p>
	<p>I will graduat from high school in<a id="gradution-year"></a></p>
	<p>I have <a id="number-of-brother-and-sister"></a> brother and sister </p>
	<p>I have<a id= "number-of-kids"></a>kids</p>
 


<script src="../JS/scripts.js"></script>
<input botton="kuku">

<h3> Guess who my favorit band is.</h3>
				<p><a id="favband"></a></p>
				<button onclick="band()">My fav Band is...</button>

<h3>my favorit soccer team</h3>
				<p><a id="worstteam"></a></p>
				<button onclick="worst()">Click to reveal</button>
				
<h3>the best basketball team</h3>
				<p><a id="best"></a></p>
				<button onclick="best()">Click to reveal</button>

      <script src="../js/scripts.js"></script>
    </body>
</html>
<
<button type="button" onclick="function(Example: Guess who my favorit band is)">Click. </button>




<button type="button" onclick="fuction('guess who my favorit soccer is')">click. </button>

<button type="button" onclick="fuction('guess who the best breck is')">click. </button>



		

	</body>
</html>