<!DOCTYPE html>
<html>
	<head>

		<title>Bootstrap Playground</title>

		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/main.css">

	</head>

	<body>
		<div class="nav">		
		<ul>

			<li><a class="default" href="index.html">Home</a></li>
			<li><a href="html-playground.html">HTML</a></li>
			<li><a href="css-playground.html">CSS</a></li>
			<li><a href="bootstrap-playground.html">Bootstrap</a></li>
			<li><a href="javascript-playground.html">JavaScript</a></li>
			<li><a href="jquery-playground.html">jquery</a></li>
			<li><a href="git-playground.html">Git</a></li>
			<li><a href="resources-playground.html">Resources</a></li>

		</ul>
	</div>



<div>
	<h2>Inspiration & Motivetion<h2>
		<p>Here's a little image to keep in mind when things get tough in coding</P>
			<img src="../img/viking picture. PNG"/>

			
	</div>

	<DIV class="resources">
         <h2>resources</hs>
         	<h3>Here are some good resources</h13>
         	<table border="1">
         		<tr>
         			<td>Languages</td>
         			<td>Site Name</td>
         			<td>link</td>
         			<td>Description</td>
         	</tr>
         	<tr>
         		<td>HTML, CSS, Javescript, jQuery C# basics, SQL</td>
         		<td>w3schools</td>
         		<td><a href="https://www.w3school.com">w3schools</a></td>
         		<td>This site has practice example for basic web development.</td>
         	</tr>

       
         	<tr>
         		<td>HTML, CSS, Javescript, jQuery, Git, Command Line, Python</td>
         		<td>codeacademy</td>
         		<td><a href="https://codecademy.com">codecademy.com</a></td>
         		<td>this site will help you practice your skills. Its probably one of the most popular free learning sites on the web, and they're always updating and keeping up with things. Also has a paid option.</td>
         	</tr>

         	<tr>
         		<td>Bootstrap</td>
         		<td>bootstrap</td>
         		<td><a href="https://www.getbootstrap.com">getbootstrap.com</a></td>
         		<td>This is a free HTML, CSS & JavaScript tool that allows you to develop responsive apps. This means that you can creat sites that will look good on desktop, laptop, and mobile device.</td>
         	</tr>

         	<tr>
         		<td>Any language</td>
         		<td>Stack Overflow.com</td>
         		<td><a href="https://www.stackoverflow.com">www.stackflow.com</a></td>
         		<td>As you get more and more into development, this site becomes indispersable. It doesn't seem like it now, but you'll understand.</td>
         	</tr>

         	<tr>
         		<td>HTML, CSS, Javescript, jQuery</td>
         		<td>freecodecamp</td>
         		<td><a href="https://www.freecodeCamp.com">freecodecamp.com</a></td>
         		<td>This site will help you practice your skill. It is good for portfolio building and for getting coding experience as a ne developer.</td>
         	</tr>
         </table>

       </div>






</div>
